body {
    text-align: center;
}

div {
    display: flex;
    margin-top: 2px;
    justify-content: center;
    margin-bottom: 5px;
}

div select {
    width: 200px;
}

img {
    border: 1px solid black;
}   