div {
    display: flex;
    margin-top: 2px;
    justify-content: center;
    margin-bottom: 5px;
}

div span {
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
}

div input {
    width: 50px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
}

div p {
    margin-bottom: 0;
}