body {
    background-color: #faf2e4;
    margin: 10px 100px;
}

h1 {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    font-family: sans-serif;
    color: #d1633c;
    font-size: 1em;
}

p {
    font-family: sans-serif;
}